*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
}
.card{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
input{
    width: 100%;
    height: 30px;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    color: white;
}
input:focus{
    background: black;
    /* */
    outline: 2px solid #a00d02;
}
.price input{
    width: 15%;
}
#total{
    background-color: #a00d02;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total :';
}
button{
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    background: #390053;
    color: white;
    border-radius: 20px;
    transition: .5s;
}
button:hover{
    letter-spacing: 1px; /* تقليل التباعد بين الحروف */
    background: #515151;
}

.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
#deleteAll{
    margin: 20px 0px;
}
.table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
    color: black;
}

.update-btn, .delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.update-btn {
    background-color: #4CAF50;
    color: white;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.update-btn:hover, .delete-btn:hover {
    opacity: 0.8;
}
